<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <img src="/images/Herblore.webp" alt="">
        <p class="lead text-light mx-3 pt-3 fs-1">Potion Chain</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-auto d-lg-flex flex-row-reverse" id="navbarNavDropdown">
        <div class="navbar-nav">
          <a class="nav-link mx-3 pt-3 fs-2 " href="/" >Home</a>
          <a class="nav-link mx-3 pt-3 fs-2 " href="#" data-bs-toggle="modal" data-bs-target="#aboutPotionChain">About</a>
      </div>       
        </div>
    </div>
</nav>  


<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="aboutPotionChain" tabindex="-1" aria-labelledby="aboutPotionChainLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="aboutPotionChainLabel">Potion Chain V.1.0</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>A supply chain visualizer for potions in RuneScape 3.</p>
        </div>
        <div class="modal-footer">
           <a href="https://github.com/morganchafe/PotionChain" class="btn btn-primary">Github</a>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>