<% layout("layouts/boilerplate") -%>
<h1 class="text-center">Testing Things Here</h1>
<h2><%=extremeAttack.name%></h2>
<%for(const data of itemAndTab){%>    
        <p>
            <% for(let i = 0; i<data.tab; i++){ %>
                &emsp;&emsp;
            <% } %>
            <%=data.item%>
        </p>
<% }%>
