:root{
    --background-color:  #4e5243;
    --anchor-hover: #bcbdbb;
    --input-background-color:  #959b87;
    --radio-background-color: #b7bea6;
    --label-background-color: #cfcfba;
    --selection-font-color: #ffe8d6;
    --selection-background-color: #bebeb2;
    --gradient-start: #b7b7a4;
    --gradient-end: #a5a58d;
}

body{
    font-family: 'Saira', sans-serif;
    background: linear-gradient(45deg, var(--gradient-start),var(--gradient-end)) fixed;
    color: var(--background-color);
}
a{
    color: var(--background-color);
    text-decoration: none;
}
a:hover{
    color: var(--anchor-hover);
}

input[type="checkbox"]{
    background-color: var(--input-background-color);
}
input[type="text"]{
    color: var(--background-color);
    background-color: var(--input-background-color);
    border:none;
}
input[type="text"]:enabled{
    color: var(--background-color);
    background-color:var(--input-background-color);
    border:none;    
}
input[type="number"]{
    color:var(--background-color);
    background-color:var(--input-background-color);
    border:none;    
}
input[type="number"]:enabled{
    color: var(--background-color);
    background-color: var(--input-background-color);
    border:none;    
}
input[type="radio"]{
    background-color: var(--radio-background-color) ;  
}

#mainInputs{
}

.shorthand {
    list-style-type:none;
}
.shorthand-label{
    font-weight:bold;
}
.shorthand-item{
    margin-left: 1.5rem;
}
.nested-shorthand-item{
    margin-left:3rem;
}

.input-group-text{
    color:  var(--background-color);
    background-color: var(--label-background-color);
    border:none;

}

::selection{
    color: var(--selection-font-color);
    background-color: var(--selection-background-color);
}

/* change navbar background */
nav.navbar {
    background: linear-gradient(45deg, var(--gradient-start),var(--gradient-end)) fixed;
}
  /* change navbar-toggler inside lines color (stroke) */
.navbar-light span.navbar-toggler-icon {
    color:  var(--background-color);
}
  /* change hamburger button border color */
button.navbar-toggler.navbar-toggler-right {
    border-color:  var(--background-color);
}

nav.navbar p.mx-3.pt-3.fs-1{
    user-select: none;
}


/* modal styles currently inline, not sure why classes wont go through. */

/* .modal .custom .depth1{
    background-color: 3.5px solid rgb(0, 0, 0);
}
.modal .custom .depth2{
    background-color: 3.5px solid rgb(255, 157, 0);
}
.modal .custom .depth3{
    background-color: 3.5px solid rgb(13, 58, 13);
}
.modal .custom .depth4{
    background-color: 3.5px solid rgb(160, 151, 71);
}
.modal .custom .depth5{
    background-color: 3.5px solid rgb(110, 32, 1);
}
.modal .custom .depth6{
    background-color: 3.5px solid rgb(95, 16, 53);
}
.modal .custom .depth7{
    background-color: 3.5px solid rgb(6, 144, 144);
}
.modal .custom .depth8{
    background-color: 3.5px solid rgb(121, 121, 121);
}
.modal .custom .depth9{
    background-color: 3.5px solid rgb(255, 252, 252);
} */