:root{
    --font-color:  #ffffff;
    --selection-font-color: #000;
    --selection-background-color: #93958c;
    --gradient-start: rgba(0,0,0,0.65);
    --gradient-end: rgba(0,0,0,0.65);
}

body{
    font-family: 'Saira', sans-serif;
    background: linear-gradient(45deg, var(--gradient-start),var(--gradient-end)), url("../images/backgroundImage.webp") no-repeat center fixed;
    background-size: cover;
    color: var(--font-color);
}
.modal-content{
    color:black;
}
a{
    text-decoration: none;
}
.logo{
    color: var(--font-color);
    margin:0;
    padding:0;
    display: flex;
}
.logo:hover{
    color: var(--font-color);
}
#mainInputs{
    margin-top: 3rem;
    animation: fadeIn 0.3s ease-in;
}
#shorthands{
    animation: fadeIn 0.3s ease-in; 
}
.shorthand {
    list-style-type:none;
}
.shorthand-label{
    font-weight:bold;
}
.shorthand-item{
    margin-left: 1.5rem;
}
.nested-shorthand-item{
    margin-left:3rem;
}
.input-group-text{
    border:none;
}
::selection{
    color: var(--selection-font-color);
    background-color: var(--selection-background-color);
}
nav.navbar {
    background: linear-gradient(45deg, var(--gradient-start),var(--gradient-end)), url("../images/backgroundImage.webp") no-repeat center fixed;
    background-size: cover;
}
.navbar-light span.navbar-toggler-icon {
    color:  var(--font-color);
}
button.navbar-toggler.navbar-toggler-right {
    border-color:  var(--background-color);
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}